.vs/PwsgWinFormsLab2/v14/.suo
PwsgWinFormsLab2.sln
PwsgWinFormsLab2/bin/Debug/PwsgWinFormsLab2.exe
PwsgWinFormsLab2/bin/Debug/PwsgWinFormsLab2.exe.config
PwsgWinFormsLab2/bin/Debug/PwsgWinFormsLab2.pdb
PwsgWinFormsLab2/bin/Debug/PwsgWinFormsLab2.vshost.exe
PwsgWinFormsLab2/bin/Debug/PwsgWinFormsLab2.vshost.exe.config
PwsgWinFormsLab2/bin/Debug/PwsgWinFormsLab2.vshost.exe.manifest
PwsgWinFormsLab2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PwsgWinFormsLab2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PwsgWinFormsLab2/obj/Debug/PwsgWinFormsLab2.csproj.FileListAbsolute.txt
PwsgWinFormsLab2/obj/Debug/PwsgWinFormsLab2.csproj.GenerateResource.Cache
PwsgWinFormsLab2/obj/Debug/PwsgWinFormsLab2.csprojResolveAssemblyReference.cache
PwsgWinFormsLab2/obj/Debug/PwsgWinFormsLab2.exe
PwsgWinFormsLab2/obj/Debug/PwsgWinFormsLab2.pdb
PwsgWinFormsLab2/obj/Debug/PwsgWinFormsLab2.Properties.Resources.resources
PwsgWinFormsLab2/obj/Debug/PwsgWinFormsLab2.Shape.resources
PwsgWinFormsLab2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PwsgWinFormsLab2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PwsgWinFormsLab2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
